@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('/assets/img/fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}   

.box{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px 40px;
}

.box p{
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #980fad;
    background-color: #f2f2f2;
    color: #980fad;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}